body {
  margin: 0;
  padding: 10px;
  background-color: rgb(163, 161, 161);
  background: linear-gradient(to left, #cfdef3, #e0eafc);
  color: #2a2a2a;
  line-height: 1.25;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
}
